<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CimCoin</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CimCoin</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/new_transaction">create transaction</a></li>
            <li><a href="/miner">miner</a></li>
            <li><a href="/view_chain">view chain</a></li>
            <li><a href="/my_transactions"> my transactions</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Cim Coin</h1>
        <p>Cim lab's cryptocurrency!</p>
    </div>
    <div class="col-sm-4">
        <a href="/new_transaction"><h2>create transaction <i class="em em-lower_left_ballpoint_pen"></i></h2></a>
        <p> Transfer some CimCoins to someone else</p>
    </div>
    <div class="col-sm-4">
        <a href="/miner"><h2>mine CimCoins <i class="em em-pick"></i></h2></a>
        <p> Mine some CimCoins on the browser</p>
    </div>
    <div class="col-sm-4">
        <a href="/view_chain"><h2>view chain <i class="em em-gear"></i></h2></a>
        <p> View the recent transactions ordered by blocks</p>
    </div>
</div>
</body>
</html>