<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CimCoin</title>
</head>
<body>
<div class="container">
<div class="jumbotron text-center">
  <h1>Cim Coin</h1>
  <p>Cim lab's cryptocurrency!</p>
</div>
<div class="col-sm-4">
<a href="/new_transaction"><h2>create transaction <i class="em em-lower_left_ballpoint_pen"></i></h2></a>
</div>
<div class="col-sm-4">
<a href="/mine"><h2>mine CimCoins <i class="em em-pick"></i></h2></a>
</div>
<div class="col-sm-4">
<a href="/view_chain"><h2>view chain <i class="em em-gear"></i> </h2></a>
</div>
</div>
</body>
</html>