<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
    <script>
    forge.options.usePureJavaScript = true;
    async function mine(last_proof) {
    block = 0
    cur_proof = last_proof
    tmp = last_proof
    while(true) {
    cur_proof = await proof_of_work(cur_proof);
    if (cur_proof != tmp) {
    block++
    document.getElementById("last_hash").innerHTML = cur_proof;
    document.getElementById("block_counter").innerHTML = block;
    tmp = cur_proof
    }
    await sleep(100)
    }
    }

    async function proof_of_work(last_proof) {
        // Simple Proof of Work Algorithm:
        // - Find a number p' such that hash(pp') contains leading 4 zeroes, where p is the previous p'
        // - p is the previous proof, and p' is the new proof
        document.getElementById("last_hash").innerHTML = last_proof;
        last_proof = last_proof
        proof = 0;
        while (valid_proof(last_proof, proof) == 0)    {
            proof += 1
        }

        $proof = proof
        last_proof = validate_proof(proof);
        return proof;
    }
    function valid_proof(last_proof, proof) {
        var guess = last_proof.toString() + proof.toString();
        var md = forge.md.sha256.create();
        md.update(guess);
        var guess_hash = md.digest().toHex().slice(0,4); // take last 4 chars since sha256 returns 64bit
        if(guess_hash == '0000'){
        console.log(md.digest().toHex())
        return 1
        }
        else{
        return 0
        }
    }
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function validate_proof(proof) {
    $.ajax({
            url: '/miner',
            data: {'proof': proof},
            type: 'POST',
            success: function(response) {
                return response.responseJSON["proof"]
            },
            error: function(error) {
                return error.responseJSON["proof"]
            }
        });

    }


    </script>
    <title>CimCoin</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CimCoin</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/new_transaction">create transaction</a></li>
            <li class="active"><a href="/miner">miner</a></li>
            <li><a href="/view_chain">view chain</a></li>
            <li><a href="/my_transactions"> my transactions</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Cim Coin</h1>
        <p>Cim lab's cryptocurrency!</p>
    </div>
    <h2> Mine CimCoins! </h2>
    <div>
        <button onclick="mine({{ last_proof }});">Mine!</button>
        <br>
        blocks computed: <p id="block_counter"></p>
        last hash: <p id="last_hash"></p>
    </div>
    </form>
</div>
</body>
</html>