<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CimCoin</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">CimCoin</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">create transaction</a></li>
      <li><a href="/miner">miner</a></li>
      <li><a href="/view_chain">view chain</a></li>
        <li><a href="/my_transactions"> my transactions</a></li>
    </ul>
  </div>
</nav>
<div class="container">
<div class="jumbotron text-center">
  <h1>Cim Coin</h1>
  <p>Cim lab's cryptocurrency!</p>
</div>
    <h2> new transaction </h2>
    <form method="post" >
        <div>
        <h3>sender</h3><input type="text" name="sender" value="{{ user }}">
        </div>
        <div>
        <h3>recipient</h3><input type="text" name="recipient">
        </div>
        <div>
        <h3>amount</h3><input type="text" name="amount">
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>